$primary: #fd7f5f;
$secondary: #B9E376;
$neutral: #2b2b2b;

$titles: 'NunitoSansBlack';
$text: 'OpenSansLight';
$textMedium: 'OpenSansMedium';
$handWriter: 'BrittanySignature';

$tablet: "500px";
$desktop: "1000px";