$primary: #ED7557;
$secondary: #B9E376;
$neutral: #333333;

$titles: 'NunitoSansBlack';
$text: 'OpenSansLight';
$textMedium: 'OpenSansMedium';
$handWriter: 'BrittanySignature';

$tablet: "500px";
$desktop: "1000px";